<div class="container mt-5">
  <div class="flex-container">
    <!-- Language Switcher -->
    <div class="language-switcher-container">
      <app-language-switcher></app-language-switcher>
    </div>

    <!-- Greeting and Message -->
    <div class="greeting-message-container">
      <div class="jumbotron">
        <h1 class="display-4">{{ 'GREETING' | translate }}</h1>
        <p class="lead">{{ 'MESSAGE' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- Data Entry CRUD -->
  <div class="data-entry-container mt-5">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">{{ 'DATA' | translate }}</h1>
      </div>
      <div class="card-body">
        <app-data-entry></app-data-entry>
      </div>
    </div>
  </div>
</div>