<div class="container" [dir]="isRtl ? 'rtl' : 'ltr'">
  <div class="language-switcher">
    <button
      *ngFor="let lang of supportedLanguages"
      (click)="switchLanguage(lang)"
      [class.active]="currentLang === lang"
      class="btn btn-language"
    >
      {{ lang | uppercase }}
    </button>

    <div class="date-picker-container">
      <h2>{{ 'CURRENT_DATE_TIME' | translate }}</h2>

      <mat-form-field>
        <mat-label>{{ 'DIFFERENT_LOCALES' | translate }}</mat-label>
        <input matInput [matDatepicker]="dp">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>